<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Karolina nail artist</title>
    <link rel="stylesheet" href="../assets/css/success.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../assets/logo.png" type="image/gif" sizes="32x32">
    <script src="../assets/js/functions.js"></script>

  </head>

<body>
    {{{body}}}
</body>
</html>
